@import url(http://weloveiconfonts.com/api/?family=brandico|zocial);

/* brandico */
[class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

body {
  font-family: 'Quicksand', Arial, Helvetica, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 25px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2,
h4 {
  text-align: center;
}

h3 {
  text-align: left;
}

p {
  font-size: 18px;
}

section {
  margin: 10px;
  padding: 25px 0;
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 10px;
  color: white;
  background: url(../image/header.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.masthead .intro-body .brand-heading {
  margin: 150px 0 0 0;
  font-size: 45px;
  text-align: right;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
  }
  .masthead .intro-body .brand-heading {
    font-size: 50px;
  }
  .masthead .intro-body {
    font-size: 25px;
  }
}

.btn-circle {
  width: 50px;
  height: 50px;
  margin: 200px 0 20px 0;
  line-height: 38px;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 1px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(224, 192, 192, 0.1);
}

.btn-circle::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  margin: 6px 0 0 -7.5px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.btn {
  font-family: 'Josefin Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

a {
  color: #4e515e;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: rgba(78, 81, 94, 0.5);
}

.lead {
  text-align: center;
}

.profile {
   width: 200px;
   height: 200px;
   margin: 20px;
   border: 3px solid #4e515e;
   border-radius: 100px;
   display: block;
}

.intro {
  text-align: right;
}

.intro-text {
  padding-top: 80px;
  text-align: left;
}

#about ul {
  list-style: none;
  padding-left: 35%;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 4px;
  margin: 0 auto;
  padding-top: 50px;
  background: #4e515e;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #fff;
  border: 3px solid #4e515e;
  border-radius: 10px;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .caption {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(78, 81, 94, 0.8);
}

#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

#portfolio .portfolio-item .portfolio-link img {
  width: 100%;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; }
}

.portfolio-modal .modal-dialog {
  max-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.portfolio-modal .modal-dialog .modal-content {
  text-align: center;
  padding: 100px 0;
  border: 0;
  border-radius: 0;
  background-color: #f8f9fa;
}

.portfolio-modal .modal-dialog .modal-content h2 {
  font-size: 3em;
  margin: 0;
}

.portfolio-modal .modal-dialog .modal-content p {
  text-align: left;
}

.portfolio-modal .modal-dialog .modal-content .lead {
  text-align: center;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .modal-backdrop {
  display: none;
  opacity: 0;
}

.content-block {
  margin-bottom: 80px;
}

#contact h3 {
  text-align: center;
}

.portfolio-modal .modal-dialog .modal-content .logo {
  width: 100px;
  height: 100px;
  border: none;
}

.title_img {
  width: 300px;
  margin: 20px;
  display: block;
}

.span {
  width: 100%;
  border-style: none;
}

.prototype {
  margin: 10px;
  padding: 0;
}

.desc-text {
  padding-top: 30px;
  text-align: left;
}

.content-block .desc-text ul {
  list-style: decimal;
}

.content-block .desc-text ul li ul {
  list-style: lower-roman;
}

.content-block video {
  height: 450px;
  width: 250px;
  margin: 10px;
  display: block;
}

.img_block {
  margin-bottom: 60px;
  text-align: center;
}
