/**
 * Created by jessielyu on 12/11/17.
 */

body {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #6B5F61;
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: normal;
    font-family: 'Dosis', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
    color: #6B3F45;
}

h4 {
    font-size: 24px;
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* Grid System */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.67%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100%;
}

/* Universal*/
.section-block {
    display: flex;
    flex-wrap: wrap;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.img-center {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.img-inline {
    height: 0.8em;
    display: inline;
}

.img-mini {
    max-height: 75px;
}

.img-nano {
    max-height: 50px;
}

.img-sm {
    max-height: 125px;
}

.img-sm-round {
    max-height: 125px;
    clip-path: circle(62.5px at 62.5px 62.5px);
    border-radius: 100px;
}

.img-smmd {
    max-height: 180px;
}

.img-md {
    max-height: 250px;
}

.img-md-round {
    clip-path: circle(125px at 125px 125px);
    max-height: 250px;
    border-radius: 100px;
}

.img-mdlg {
    max-height: 400px;
}

.img-lg {
    max-height: 600px;
    max-width: 95%;
}

.span {
    width: 90%;
    margin-bottom: 20px;
    display: block;
}

.padding-sm {
    padding: 20px;
}

.padding-md {
    padding: 40px;
}

/* Navigation */
#navigation {
    display: flex;
    padding-top: 15px;
    position: fixed;
    top: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 999;
    height: 80px;
    /*border-bottom: 0.1mm solid #EED3D7;*/
}

#logo {
    padding-left: 30px;
    cursor: pointer;
}

#logo img {
    height: 65px;
}

#menu {
    padding: 10px 30px 0 0;
    text-align: right;
}

#menu a {
    margin: 0 10px;
}

#menu a:hover {
    background-color: #EED3D7;
}

#menu .menu-active {
    color: #EB8A96;
}

/* Home */
#home {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#home .bg-image img {
    max-height: 100%;
    width: auto;
}

@media only screen and (max-width: 1300px) {

}

#home .home-title {
    text-align: center;
    padding-top: 10%;
    padding-left: 5%;
}

#home .home-title h1 {
    color: #EB8A96;
}

#home .home_nav {
    margin-top: 100px;
}

#home .home-title a {
    margin: 0 10px;
}

#home .home-title a:hover {
    background-color: #EED3D7;
}

/* Thumbnail */
#portfolio, #work {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 300px 200px 100px 200px;
}

.thumbnail-item {
    position: relative;
    display: flex;
    max-height: 345px;
    max-width: 345px;
    text-align: center;
}

.thumbnail-item .portfolio-link {
    position: relative;
    display: flex;
    max-height: 100%;
    margin: 5px;
    box-shadow: 1px 1px 6px #9B9B9B;
}

.thumbnail-item .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: #EED3D7;
}

.thumbnail-item .caption:hover {
    opacity: 1;
}

.thumbnail-item .caption p {
    font-size: 15px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    color: #6B5F61;
}

.thumbnail-item a img {
    object-fit: cover;
    height: 100%;
}

/* Modal */
.modal {
    width: 100%;
    height: auto;
    display: none;
}

.modal-active {
    display: flex;
}

.modal a {
    color: #EB8A96;
}

.modal a:hover {
    text-decoration: underline;
}

/* Content */
#content .header {
    background-color: #EB8A96;
    color: #FFFFFF;
    height: 100vh;
    position: fixed;
    width: 300px;
    word-wrap: break-word;
}

.header a {
    margin-left: 85%;
    font-size: 20pt;
    color: #FFFFFF;
}

.title {
    margin-top: 45%;
    padding: 30px;
}

.header hr {
    border: 0;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

#content .header_img {
    width: 100%;
    margin-bottom: 100px;
}

.sections {
    margin-left: 300px;
    padding: 100px;
}

.sections .section-block {
    margin-bottom: 100px;
}

/* About */
#about {
    text-align: center;
    margin-top: 100px;
}

#about .intro-body {
    position: relative;
    text-align: left;
}

#about .intro-body img {
    position: relative;
    left: 10%;
    width: 50%;
}

#about .intro-text {
    position: absolute;
    top: 45%;
    left: 55%;
    background: rgba(238, 211, 215, 0.8);
    padding: 20px;
    width: 500px;
}

#about .section-block {
    padding: 10% 10% 5% 10%;
    text-align: left;
    margin-bottom: 0;
}

#about a {
    color: #EB8A96;
}

#about a:hover {
    text-decoration: underline;
}

/* Modal Specific */
/* quicket solutions */
#quicket h2 {
    color: #F08F6C;
}

#quicket h3 {
    color: #BD481C;
}

#quicket .header {
    background-color: #F08F6C;
}

/* vision tool */
#vision h2 {
    color: #3478B7;
}

#vision h3 {
    color: #265784;
}

#vision .header {
    background-color: #3478B7;
}

/* laishuati.com */
#laishuati h2 {
    color: #5F9BA8;
}

#laishuati h3 {
    color: #426C75;
}

#laishuati .header {
    background-color: #5F9BA8;
}

/* dmv Redesign */
#dmvRedesign h2 {
    color: #819CB2;
}

#dmvRedesign h3 {
    color: #2F5370;
}

#dmvRedesign .header {
    background-color: #819CB2;
}

/* Mis */
#youtube_embedded_video {
    box-shadow: 1px 1px 6px #9B9B9B;
    width: 800px;
    height: 450px;
    margin-bottom: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}