/**
 * Created by jessielyu on 12/11/17.
 */

body {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: large;
    line-height: 1.5;
    color: #40302A;
    margin: 0;
}

h1 {
    font-family: 'Gaegu', Arial, Helvetica, sans-serif;
    font-size: 50px;
}

h2 {
    font-family: 'Muli', Arial, Helvetica, sans-serif;
    font-size: 35px;
}

img {
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* Grid System */
.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.67%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.67%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.67%;
}

.col-12 {
    width: 100%;
}

/* Universal*/
.section-block {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.center-align {
    text-align: center;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.img-center {
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.img-inline {
    height: 0.8em;
    display: inline;
}

.img-mini {
    max-height: 75px;
}

.img-sm {
    max-height: 125px;
}

.img-sm-round {
    max-height: 125px;
    clip-path: circle(62.5px at 62.5px 62.5px);
    border-radius: 100px;
}

.img-md {
    max-height: 250px;
}

.img-md-round {
    clip-path: circle(125px at 125px 125px);
    max-height: 250px;
    border-radius: 100px;
}

.img-mdlg {
    max-height: 350px;
}

.img-lg {
    max-height: 600px;
    max-width: 95%;
}

.span {
    width: 90%;
    margin-bottom: 20px;
    display: block;
}

/* Navigation */
#navigation {
    display: flex;
    padding-top: 30px;
    top: 0;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 999;
}

#logo {
    padding-left: 30px;
    cursor: pointer;
}

#logo img {
    height: 65px;
}

#menu {
    padding: 10px 30px 0 0;
    text-align: right;
}

#menu a {
    margin: 0 10px;
}

#menu a:hover {
    background-color: #edc2c7;
}

#menu .menu-active {
    color: #EB8A96;
}

/* Content */
#content {
    margin-top: 100px;
}

/* Home */
#home {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

#home .bg-image img {
    height: 100%;
    width: auto;
}

#home .home-title {
    text-align: center;
    margin-top: 25vh;
}

#home .home-title a {
    margin: 0 10px;
}

#home .home-title a:hover {
    background-color: #edc2c7;
}

/* Thumbnail */
#portfolio, #work {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 200px;
}

.thumbnail-item {
    position: relative;
    display: flex;
    max-height: 345px;
    text-align: center;
}

.thumbnail-item .portfolio-link {
    position: relative;
    display: flex;
    max-height: 100%;
    margin: 5px;
}

.thumbnail-item .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: #edc2c7;
}

.thumbnail-item .caption:hover {
    opacity: 1;
}

.thumbnail-item .caption p {
    font-size: 15px;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    color: #FFF7FF;
}

.thumbnail-item a img {
    object-fit: cover;
    height: 100%;
}

/* Modal */
.modal {
    width: 100%;
    height: auto;
    display: none;
}

.modal-active {
    display: flex;
}

.modal a {
    color: #EB8A96;
}

.modal a:hover {
    text-decoration: underline;
}

.header {
    position: fixed;
    width: inherit;
    word-wrap: break-word;
    text-align: center;
}

.header a {
    margin-left: 80%;
    color: #40302A;
    font-size: 20pt;
}

.title {
    margin-top: 100px;
    padding: 10px;
}

.sections {
    padding: 10px;
}

/* About */
#about {
    text-align: center;
}

#about .intro-body {
    position: relative;
    text-align: left;
}

#about .intro-body img {
    position: relative;
    left: 10%;
    width: 50%;
}

#about .intro-text {
    position: absolute;
    top: 45%;
    left: 55%;
    background: rgba(237, 194, 199, 0.8);
    padding: 20px;
    width: 500px;
}

#about .section-block {
    padding: 10% 10%;
    text-align: left;
}

#about .section-block h3 {
    color: #EB8A96;
}

#about a {
    color: #EB8A96;
}

#about a:hover {
    text-decoration: underline;
}